## Alien Isolation Zombies GitIgnore

# Ignore all in BO3 folder
*
!*/

# Allow all zm_alien_isolation related scripts and map files
!.gitignore
!README.md
!/map_source/_prefabs/**
!/map_source/zm/zm_alien_isolation.map
!/share/raw/animtables/zm_factory_zombie.ai_ast
!/share/raw/animtables/zm_factory_zombie_dog.ai_ast
!/share/raw/fx/zm_alien_isolation/**
!/share/raw/sound/aliases/zm_alien_isolation.csv
!/share/raw/vision/zm_alien_isolation.vision
!/share/raw/gamedata/weapons/zm/zm_alien_isolation.csv
!/usermaps/zm_alien_isolation/ui/uieditor/menus/hud/**
!/usermaps/zm_alien_isolation/fonts/**
!/usermaps/zm_alien_isolation/scripts/**
!/usermaps/zm_alien_isolation/zone/workshop.json
!/usermaps/zm_alien_isolation/zone/previewimage.png
!/usermaps/zm_alien_isolation/zone/loadingimage.png
!/usermaps/zm_alien_isolation/zone/workshopimage.jpg
!/usermaps/zm_alien_isolation/zone/workshopimage.psd
!/usermaps/zm_alien_isolation/zone/video/**
!/usermaps/zm_alien_isolation/zone_source/zm_alien_isolation.zone

# Disallow unrelated prefabs
/map_source/_prefabs/_NSZ/
/map_source/_prefabs/library/
/map_source/_prefabs/lights/
/map_source/_prefabs/mp/
/map_source/_prefabs/p7_props/
/map_source/_prefabs/zm/
/map_source/_prefabs/zm_lv426/
/map_source/_prefabs/zm_spaceflight_terminal/

# Allow GDTs
!/archetypes/alien_isolation_archetypes.gdt
!/model_export/alien_isolation_characters.gdt
!/model_export/alien_isolation_flamethrower.gdt
!/model_export/alien_isolation_models.gdt
!/model_export/alien_isolation_models_pt2.gdt
!/model_export/alien_isolation_models_pt3.gdt
!/model_export/alien_isolation_models_pt4.gdt
!/model_export/ayz_flamethrower.gdt
!/source_data/alien_isolation_scripts.gdt
!/texture_assets/alien_isolation_textures.gdt
!/texture_assets/alien_isolation_textures_generic.gdt
!/texture_assets/custom_craftdanimations.gdt

# Allow all assets
#!/sound_assets/**
#!/zm_alien_isolation/**