@font-face {
    font-family: 'Alte Haas';
    src:  url('Alte-Haas.woff') format('woff'),
          url('Alte-Haas.svg#Alte-Haas-Grotesk-Bold') format('svg'),
          url('Alte-Haas.eot'),
          url('Alte-Haas.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    margin:0;
    overflow:hidden;
    font-family: 'Alte Haas', 'Arial';
    color:white;
    text-shadow: 0px 0px 20px #000;
}
img {
    background: url("../img/LOGO4.png") no-repeat;
    background-size: cover;
}
a,a:hover {
    color: white;
    text-decoration: none;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
}
.video-foreground,
.video-background iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
.container-fluid {
    width:100%;
    height:100vh;
    background: url("../img/VXcVUTX.png") repeat;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
    .video-foreground { width: 300%; left: -100%; }
}

.vertical-center {
    min-height: 100%; 
    min-height: 100vh;
    display: flex;
    align-items: center;
}